<div class="container more-container">
  <h3>{{ site.more_title | default: "A Little More About Me" }}</h3>
  <div class="row clearfix">

<div class="row clearfix">
      <div class="{{ 'col-md-12 ' }}{%- if site.more_image -%}col-sm-8 col-md-9 col-print-12{%- endif -%}">
        {{ site.more_content | strip | markdownify }}
      </div>
      {%- if site.more_image -%}
      <!-- {%- for tag in site.more_image -%} -->
      <!-- {{tag | strip }} -->
        <div class="col-xs-12 col-sm-4 col-md-3 no-print">
          <span class="profile-img" style="background-image: url({{ site.more_image | relative_url }})" />
        </div>
      <!-- {% endfor %} -->
      {%- endif -%}
      <!-- <div class="col-md-12">
        {{ site.more_content | strip | markdownify }}
      </div> -->

  </div>
</div>
